<aside>

    <ul>
        <li>
            <a href="https://github.com/TheTelematic"><img src="https://image.flaticon.com/icons/png/128/38/38401.png">My GitHub Profile</a>
        </li>
        <li>
            <a href="https://es.linkedin.com/in/arturo-jes&uacute;s-parra-soto-027036b9"><img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-128.png">My LinkedIn Profile</a>
        </li>
        <li>
            <a href="mailto:arturoteleco95@protonmail.ch">arturoteleco95@protonmail.ch</a>
        </li>
    </ul>
</aside>