<section>
    <div class="container register_box">
        {% if error is not None %}
        <div class="error">{{ error }}</div>
        {% endif %}
        <form action="/notes/register/" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="repeat_password">Confirm the password:</label><input type="password" id="repeat_password" />
            <div class="register_submit"><input id="submit_register" type="submit" value="Register"/></div>
        </form>
        <form action="/notes/" method="post">
            {% csrf_token %}
            <input class="register_go_index" type="submit" value="Go back"/>
        </form>
    </div>
</section>