<section>
    <div class="container">
        <div class="aboutme_image">
        <img src="https://avatars1.githubusercontent.com/u/20907688?v=3&s=460" alt="My GitHub's photo">
        </div>
    </div>
    <div id="information_of_me" class="col-sm-4">
        <div class="aboutme_name">Arturo Jes&uacute;s Parra Soto</div>

        <div class="aboutme_info">
            <div class="jumbotron text-center aboutme_opinion">
                I've always been a geek, and since I know the programming, I've loved it (and I've hated it, you know, "why **ck*ng doesn't it work??") . I love the Linux world,
                I've tried like 15 distros, mainly Ubuntu (different desktops environment).
                This is a piece of all things I can do. So if you like it, email me!

                On the other hand, I like the SysAdmin world (in Linux of course). I've used VMware to do little architectures of a network and for my end-of-degree project.
            </div>
        </div>
    </div>



</section>