<section>

    <div class="note" id="note1">

        <div class="top-visible">This is a note! asfasdfasdf asdfasdfasdfasdf asdfasdfadsfas dfasdfasdfasd</div>
        <div class="note_longer" hidden>
             fasdfasdfasdfasd fadsfasd fasdfasdfasdfasd fasdfasdfasdfasd fasdfasdfasdfasd fasdfasdfasdfasd fasdfasdfasdfasd fasdfasdfasdfasd fasdfasdfasdfasd fasdfasdfasdfasd
        </div>
    </div>
    <div class="note" id="note2">

        <div class="top-visible">This is a note! </div>
        <div class="note_longer" hidden>

        </div>




    </div>

    <div class="note" id="note3">
        <div class="top-visible">This is another note 2! </div>
        <div class="note_longer" hidden>
            asfasdfas dfasdfasdfasdf asdfasdfas dfadsfasdfasdfasdf asdfasdfasdf asdfasdfadsfasd
        </div>

    </div>
    <div class="note" id="note4">

    <div class="top-visible">This is another note 2! asfasdfas</div>
        <div class="note_longer" hidden>
             dfasdfasdfasdf asdfasdfas dfadsfasdfasdfasdf asdfasdfasdf asdfasdfadsfasd
        </div>

    </div>
</section>