<section>

    <div class="note">

        This is a note! asfasdfasdf asdfasdfasdfasdf asdfasdfadsfas dfasdfasdfasd fasdfasdfasdfasd fadsfasd
    </div>
    <div class="note">

        This is another note!

    </div>

    <div class="note">

    This is another note 2! asfasdfas dfasdfasdfasdf asdfasdfas dfadsfasdfasdfasdf asdfasdfasdf asdfasdfadsfasd

    </div>
    <div class="note">

    This is another note 2! asfas dfasdfasdfas dfasdfasdfa sdfasdfadsfas dfasdfasdfasd fasdfasdfasdfasdfadsf asd

    </div>
</section>