section{
    display: inline-block;
}

.container, .aboutme_image{
    float: left;
    display: block;
    width: 30%;

}

.col-sm-4{
    display: block;
    float: left;
}

.aboutme_image img{
    width: 170%;
    margin: 5% 5% 5% 40%;
}

#information_of_me{
    width: 70%;
}

.aboutme_name{
    float: left;
    font-size: x-large;
    font-weight: bold;
    margin-top: 5%;
}

.aboutme_opinion{
    background-color: inherit;
    font-style: italic;
    margin: 2%;
}



aside ul li img{
    width: 15%;
    margin-right: 2%;
}