@font-face {
    font-family: general;
    src: url("/static/fonts/font1.ttf");
}


body{
    background-color: rgba(40,255,72,0.13);
    padding: 1% 10% 1%;
    font-family: 'Bubbler One', 'Open Sans', sans-serif;
}

header{
    background-color: rgba(40,255,72,0.2);
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
}

header a{
    width: 65%;
}

header .user-box{
    width: auto;
    float: right;
    margin-right: 5%;
    margin-top: 0.1%;
    font-size: smaller;
}


header a:hover{
    font-weight: bold;
    text-decoration: none;
}

footer{
    background-color: rgba(40,255,72,0.3);
    text-align: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.error{
    border: dashed rgba(255,19,16,0.46);
    color: rgba(255,0,0,0.58);
    text-align: center;
    padding: 1%;
}

section{
    width: 70%;
    margin: 5%;
}

aside{
    width: 15%;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    display: inline-block;
}

aside ul{
    margin-top: 20%;
}

aside ul li{
    list-style-type: none;
    margin-top: 3%;
}

.login_submit input{
    border-radius: 10px;
    background-color: inherit;
    border-color: #01020b;

}

.login_submit input:hover{
    color: orangered;
    box-shadow: none;
    border: 2px solid orangered;
}

.login_submit input:active {
    background-color: rgba(234, 145, 30, 0.82);
}

