.login_box{
    align-content: center;
    display: inline-block;
    width: 80%;
    margin: 5% 8% 1% 8%;
    border: dotted rgba(70,255,83,0.46);
}




.login_box form *{
    display: inline-block;
    text-align: center;
    align-content: center;
    float: left;
    margin: 5% 8% 1% 8%;
}

.login_box label{
    clear: left;
    width: 20%;
}

.login_box input{
    width: 30%;
    margin-right: auto;
    clear: right;
}

.login_box .login_submit{
    width: 50%;
    margin-left: 40%;
}