.register_box{
    align-content: center;
    display: inline-block;
    width: 80%;
    margin: 5% 8% 1% 8%;
    border: dotted rgba(70,255,83,0.46);
}




.register_box form *{
    display: inline-block;
    text-align: center;
    align-content: center;
    float: left;
    margin: 5% 8% 1% 8%;
}

.register_box label{
    clear: left;
    width: 20%;
}

.register_box input{
    width: 30%;
    margin-right: auto;
    clear: right;
}

.register_box .register_submit{
    width: 50%;
    margin-left: 40%;
}

#message_error{
    width: 100%;
    display: block;
    float: left;
    clear: left;
    font-weight: bold;
    font-style: italic;
    margin: 5% 0 0;

}